#contact {
    margin: 0 0;
  }
  body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 700;
    color: var(--main-text-color);
    
  }
  img{
    display: block;
  }
  .messenger{
    display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      right: 15px;
      bottom: 85px;
      cursor: pointer;
        z-index: 2;
        border-radius: 50%;
    }
  .messenger-mob{
    display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      right: 15px;
      bottom: 85px;
      cursor: pointer;
      z-index: 2;
      border-radius: 50%;
  }
  .messenger-icon{
width: 60px;
  height: 60px;
  // background-color: var(--about-bg-color);
  // fill: var(--main-text-color);
  transform: scale(1);
  transition: transform 200ms linear;
  
 
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  h1,
  h2,
  h3 {
    margin: 0;
    padding: 0;
  }
  a {
    display: inline-block;
    text-decoration: none;
    color: currentColor;
  }
  p {
    padding: 0;
    margin: 0;
  }
  button {
    padding: 0;
    margin: 0;
    outline: none;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li {
    margin: 0;
    padding: 0;
  }
  .container {
    
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
  }
  .border{
    border-top: 1px solid var(--background-color);
  }