.mod-button:hover,
.mod-button:focus {
  color: var(--hover-link-color);
}
.mod-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
}
.button-link:nth-child(2) .sub-link {
  padding: 46px 24px;
}
.button-link:nth-child(3) .sub-link {
  margin-right: 0;
}
.serv-button {
  padding: 62px 0px;
  max-width: 450px;
  width: 100%;
  color: var(--color-white);
  text-shadow: -4px 4px 2px rgba(0, 0, 0, 0.25);
  background: var(--main-text-color);
  box-shadow: -4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transform: scale(1);
  transition: transform 250ms linear, box-shadow 250ms linear,
    background-color 250ms linear;
  cursor: pointer;
}
.serv-button:hover,
.serv-button:focus {
  background-color: var(--main-text-color);
  box-shadow: -8px 8px 6px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}