.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    .footer-header {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: var(--background-color);}