.head-contact{
  
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.section-header{
width: 100%;
  background-color: var(--background-color);
}
.first-header {
  position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    
  }
  .header-icon {
    fill: currentColor;
    margin-right: 10px;
  }
  .second-header {
    
    // overflow: hidden;
    display: flex;
    justify-content: space-between;
  }
  
  .header-flex {
    display: flex;
   
  }
  .header-li {
    display: flex;
    padding: 6px 0;
    color: var(--color-white);
    cursor: pointer;
  }
  .header-flex .header-li:not(:last-child) {
    margin-right: 30px;
  }
  .header-flex a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-white);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.035em;
    transition: color 250ms var(--cubic-bezier);
  }